/* 1st shade of grey */
html,body,.headerContainer-471773205, .headerWrapper-3599732097, .container-primary, .search-item, .bottom-bar, .srp-bottom-links, .centered-item, .top-feature-bottom-bar, .modalContentWrapper-2044367782, .loginForm-2278882962, 
.main-4001122354 ,.container-results, .moduleContainer-3330263826, .adDetailsRow-915554133 .field-2518957420, .adDetailsRow-915554133 .radioItem-3883428023, .container-info, .leaderboardContainer-3161402563, .billboardContainer-4182241744, .main-4193107632 {
    background-color: #313030 !important;
}

/* 2nd shade of grey */
.top-feature-top-bar, input, textarea, .label-1952128162, .locationModalTrigger-558882393, .input-485887610, .widget-header, .highlight, .mainLogin-3163845012, .registerNowContainer-2867214086, .message-container, .heading-2783308983, .navBar-165985415,
.favouritesListing-3473436393, .categoryListWrapper-4213943590, .autocompleteSuggestions-1135436611, .popularLinks-4150601344, .menu-1932840945, .container-346951201, .listContainer-423352197, .container__success-2527921021, 
.checkboxButton-1007998757, .container__tip-199291752, .conversationList-4077374298, .conversationWrapper-1013643414, .adImage__placeholder-4009987568, .light-3420168793, .item-3899203537, .container-info-redesign, .r2s-1114502950, .container-2378752042, 
.container-results .top-bar, .top-bar, .field-2518957420, .label-4021859886, .postAdHeaderBar-1601578265, .categoryListItem-3726364752, .selectedCategoryListItem-3687705771, #PostingLimitMessage, .tagItem-3204551167, .image-toolbar, .postingLocationContainer-809359957,
 .day-selector, .systemMessage-759360815, .container-320606823, .container-2383210590, .imageContainer-3123662143, .moreMenu-2384177834, .moreMenuItem-254295314, .messageListScrollContainer-1996334519, .sendMessageBox-254937885,.container-4289908283, .js-hover {
    background-color: #3e3e3e !important;
}



/* 3rd shade of grey */
.item-1643145166.highlighted, .item-1643145166.selected, .activeCategory-1548365336, .categoryItem-3821201542:hover, .itemHighlighted-862834792, .autocompleteSuggestionHighlighted-1124866002, .categoryButton-3830788057:hover, .image-area, 
#postingLocation, .container-1224886588, .container-2383210590:hover {
    background-color: #6c6c6c !important;
}

/* 3.5 shade of grey */
.tabListItem-3110987691:hover, .favouritesListing-3473436393:hover, .conversationWrapper-1013643414:hover, .search-item:hover, .phoneNumberContainer-69344174, .messageListHeader-1351244579, .message-220034560 {
    background-color: #5e5e5e !important;
}

/* 1st color of white */
.title, .resultsHeading-3541037098, .resultsShowingCount-2351335546, .filter-head, .category-selected, .location-selected, .attribute-selected, label, .float-left,
.float-right, input, textarea, .input-485887610, .label-1952128162, .text-2356681840, .iconWrapper-1359463758, .icon-459822882, .srp-bottom>span, .registerText-3321453549, .message, .breadcrumb, .showingResults-2945259267, .item-1643145166, 
 .subHeader-3184216249, .autocomplete-Suggestion-1554128982, .modalText-3860202400, .content-1174089424, .brandedLogo-2802455701, .childName-3872504796, .nameL1-3246216728, .popularLink-1708422318, .or-4281208362, .messageTitle-3551146115,
 .messageHeading-3961482015, .buttonContents-3586777970, .lastMessageText-2424958411, .text-910784403, .score-1573853776, .name-3929264079, .score-1550163148, .type-3891701958, .value-1671685680, .label-1306947333, .input-offset span, .link-3344611369, .recently-viewed li .title a, 
 div[itemprop="description"], .link-1956053651, .address-3617944557, .reportAdButton-4111229491 .icon-459822882 , .shareLink__default-1808712150 svg , .favouriteButtonLabel-1782044459 , .printButton-592315287 svg, .attributeValue-2574930263, 
 .item-3809132392, .menuLink-3427205540, .promoLink-3756377791, .autocompleteSuggestion-1554128982, .autocompleteSuggestion-1554128982:before, .forSaleByLabel-4179516782, .categoryName-958974558, .messageBody-4014698121, .breadcrumbLabel-3185981198, .radioLabel-1678868893, .label-345100851,
.breadcrumbs-2362016912, .tip-headline, .layout-0 h1, .layout-0 span, .layout-0 strong, .locationText-1019604843, .feature-name, .day-selector, .days, .gallery-header, .currentCrumb-3831268168, .description-1016185941, .title-2323565163, .description-888801384, .headerTitle-3169899864,
 .message-220034560, .messageTitle-3647175281 {
    color: #ddd !important;
}

/* 2nd color of white */
.description, .messageContent-275599004, .label-753287786, .subtitle-3436696002, .subtitle-4131730468, .noLabelValue-3861810455, .dateLocation-4241639346 {
    color: #dbdbdb !important;
}

.filterButtonCounter-3207603611 {
    color: black;
}

.highlight, .rsp-current-matches, .post-ad-begin, .headerLinkLanguage-203031519, .header-title, .registerHeader-4111449087, .formHeader-3915424305, .heading-2783308983, .title-2493942993, .tabLink-189954566, .modalTitle-2057208485,
.protectAccountTitle-3214793726, .title-3987207732, .heading-3905156453, .menu-1932840945,  .title-3987207732, .link-3970392289, .conversationHeading-1117561433, .adTitleText-3528535318, .noAdsHeading-3658532597, .title-1384377614 ,
 .edit-profile-header>h2, .container-info-redesign>h3 , .title-2290405174, .icon-459822882, .r2sHeading-629595542, .title-1621348837, .highlight a, .categoryListsHeader-2557181585 ,.moduleTitle-4122896580 , 
.images-content h3, .container-info h2, .gallery-title, .crumbList-626990029 li a, .title-4147477923, .title-2933987319, .total-2492255579, .title-1557725472, .myAdsHeading-1264934377, .browseTilesTitle-3447042534, .showMoreButton-3230284881 {
    color : #6c62ca !important;
}

.search-item, .container-primary {
    border: 1px solid #757575 !important;
} 

.icon-2889047399, .mailIcon-1237852605, #ic-email-Icons  {
     fill : #6c62ca !important;
}

.more-searches>li ,span[itemprop="articleBody"],span[itemprop="title"]{
    color: #ddd  !important; 
}

.favouriteButtonIcon__default-4195258200, .price, .price-1134524219, .price-2132364055 , .signOut-1230594822 , span[itemprop="price"], .price-33526490 {
    color: #e1a12b !important;
}

.checkbox__checked-3818183947, .newCallout-4146573189, #WebsiteUrlInline>input[type=checkbox]:checked+label, .promotions tr.feature-row td.left input[type=checkbox]:checked+label, #PageMyProfile form.redesign-form input[type=checkbox]:checked+input+.checkbox-label, 
.button__quaternary-4042754252 {
    background-color: #e1a12b !important;
}

.button__quaternary-4042754252:hover {
    background-color: #9f721e !important;
}

.favouriteButtonIcon__default-4195258200.filled {
    fill: rgba(225, 170, 26, .25)
}

.third-party, .cat-post, .more-searches, .adChoices-1817877223, .appMarketingWrapper-909710043, .adsList-1089230009, .topSpotSrp-2537780263, .text-top-bar, .undefined, .myAdsLeaderboard-733255569 {
    display: none;
}

.searchSubmitIcon-650403213, .searchSubmit-4090601312, .pageButton__active-3997573200, .button-753423511 , .loadMoreContainer-2024036231 button{
    color: #ddd  !important;
    fill : #ddd  !important;
    background-color: #6c62ca !important;
}

.headerButtonPostAd-1524038143, .button__primary-1681489609, .bar-2250299652, .reportAdButton-4111229491, .shareLink__default-1808712150, .printButton-592315287, .button__futurePrimary-3327793552,
 .optionalActions-850237799 .buttonWrapper-904646058 button { 
    background-color: #6c62ca !important;
}

.control-1057466688{
    padding: 3px 10px;
}

.headerElement-442944742 {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.searchBar-673934149, .favouritesListing-3473436393 {
    border-radius: 25px;
}

.tabLink__selected-1951076254, .menuItemL1-3907961876:hover {
    border-bottom: 2px solid #e1a12b !important;
}

 .menuItemL1-3907961876{
    border-bottom: 2px solid #6c62ca !important;
}

.favouritesListing-3473436393{
    border-bottom: none;
    margin-bottom: 5px;
}

#kijiji-logo>path {
    fill: #6c62ca !important;
}

.top-feature-bottom-bar, .image-192629248, .container-results {
    border: none !important; 
}

.linkUrl-3944442310{ 
    padding: 5px 10px;
    color: #ddd ;
}

.arrowButton-3247349031 {
    background: #a9a1f2 !important;
}

.cardTitle-78706504 {
    background-color: rgba(123, 122, 122, .8) !important;
}

.menuItemL1Active-2460531651 {
    border-bottom-color: #e1a12b !important;
}

.menuContainer-264939997, .menusContainer-1684498334, .menuFlyout-2142064776, .menuContainer-264939997 {
    background-image: none !important;
    background-color: transparent;
    top: 49px !important;
}

.menuLink__isSubMenu-2454228233:hover {
    color: #6c62ca;
    text-decoration: underline;
}

.search-item, .clearfix, .container-2383210590 {
    border-radius: 10px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.linkUrl-3944442310 {
    background-color: #6c62ca;
    padding: 5px 10px;
}

.container__success-2527921021, .container__tip-199291752, .adImage-1090387673, .bar-2250299652, .inputRadioPanel-1654534510:checked+label, .selectedCategoryListItem-3687705771, .thumbnailButtonActive-2918213341, .imageContainer-3123662143 {
    border: 1px solid #6c62ca !important;
}

.favouritesListing-3473436393 {
    padding: 10px 30px;
} 

.button__active-3917108357:after, .button__tertiary-3643155770, .view-profile-button {
    background-color: #6c62ca !important;
}

.conversationWrapper-1013643414 {
    border-bottom : 1px solid #6c6c6c;
}

.tooltip-trigger {
    background: #6c6c6c;
}

.button__tertiary-3643155770, .view-profile-button, .container__fullBleed__inverted-1472504000 .cardTitle-78706504, .phoneNumberContainer-69344174 span {
    color: #ddd ;
}


/* Purple button hover*/
.button__tertiary-3643155770:hover, .headerButtonPostAd-1524038143:hover, .searchSubmit-4090601312:hover, .view-profile-button:hover, .button__futurePrimary-3327793552:hover, .buttonNext-3312560001:hover,.buttonPrevious-3800771220:hover,
.button-task:hover, .loadMoreContainer-2024036231 button:hover {
    background-color: #514d82 !important;
}

.tabLink-189954566:hover { 
    color: #514d82 !important;
}


.listItem-3079336677:hover {
    background: #6c6c6c;
}

#FirstInlineBanner, #SecondInlineBanner, #ThirdInlineBanner, #FourthInlineBanner {
    padding: 0;
}

.post-ad-begin{
    margin-left: 120px;
}

.pagination span.selected, .button-task {
    background-color: #6c62ca !important;
}

.pagination a:not(.rss-link):not([title]) {
    background-color: #c4c3c3 !important;
}

.top-feature-top-bar {
    border-radius : 10px;
}

.fadeOut-1831393242 {
    background: linear-gradient(180deg, rgba(49, 48, 48, 0),  rgba(49, 48, 48, 1));
}
    

.input-269729783:checked+label:before {
    background-color: #e1a12b;
    border-color : #e1a12b;
}

.arrowIcon-909064759 svg path, #icon-location path, #icon-phone path, #icon-checkmark path, #icon-dropdown-chevron path, #icon-delete path, #icon-send path {
    fill: #ddd ;
}

.promotions {
    padding: 10px !important;
}

.promotions th {
    background-color: #3e3e3e !important;
}

.promotions .right {
    padding-right: 6px !important;
     color: #ddd  !important;
}

tr.total td {
    font-weight: bold !important;
    color: #ddd  !important;
}

.promotions .left {
     color: #ddd  !important;
}

.heroImage-1893837579 {
    background: #3e3e3e !important;
    border: 1px solid #514d82 !important;
    border-radius: 20px;
}



.modal {
    border-radius: 10px !important;
    background-color: #3e3e3e !important;
    font-family: Larsseit,Arial,sans-serif;
}

.modal .body {
    background-color: #3e3e3e !important;
    border: none !important;
}

.modal .header {
    margin: 10px !important;
    color: #ddd !important;
    font-weight: bold !important;
    font-size: 18px !important;
    background-color: #3e3e3e !important;
}

.modal .body .categories li{
    color: #ddd !important;
}

.body .categories::-webkit-scrollbar {
  width: 12px;  
/* width of the entire scrollbar */
}
.body .categories::-webkit-scrollbar-track {
  background: #3e3e3e;        /* color of the tracking area */
}
.body .categories::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #3e3e3e;  /* creates padding around scroll thumb */
}

.modal .button-task {
    padding: 10px 15px ;
}

#AdvancedFilter .category-details {
    border: none;
    margin-bottom: none !important;
    border-left: 1px solid #6c6c6c;
    overflow-y: scroll !important;
    background-color: #3e3e3e !important;
}



.modal .body .category-details .adv-tab h2, .title-698598903, .resultsHeading-1285903303, .resultsShowingCount-1707762110 {
    color: #6c62ca !important;
}

.modal .body .category-details .adv-tab {
   padding-left: 5px;
}

.modal .body .category-details .adv-tab input {
   padding: 7px;
}

.modal .close-modal {
     color: #6c62ca !important;
}

#AdvancedFilter label{
   font-size: 16px;
    margin-bottom: 2px;
}

#AdvancedFilter input[type=checkbox] {
    width: 16px;
    height: 16px;
    min-height: 16px;
    min-width: 16px;
    border-radius: 4px;
    position: relative;
    border: 1.5px solid #d2d3d7;
    margin-right: 15px;
    margin-top: 6px;
}

#AdvancedFilter input:checked {
    background-color: #e1a12b !important;
}

#AdvancedFilter .categories li.selected {
    background: none;
    border: none;
    border-top: 1px solid #8074f2;
    border-bottom : 1px solid #6c62ca;
}


.multiline-3247548593, .textArea-3614710776 {
    width: 100% !important; 
}

.wrapper-498929325, .buttonContents-3586777970 {
    border: none;
}

button.button__active-3917108357, .button-1997310527.button__active-3917108357 {
    border-bottom : none;
    border-bottom : 5px solid #e1a12b !important;
}

.tabLink-189954566 {
    margin: 0px 25px !important;
}

.container__vertical-2999276280 .button__active-3917108357 {
    border-left : 5px solid #e1a12b !important;
}

.removeImageButton-3801866499.button-1997310527.button__medium-1066667140 {
    background-color: transparent !important;
}

#popular-kijiji-home {
    color: #ddd  !important; 
}

.containerWrapper-4200356857:hover {
    margin :1px;
    border: 1px solid #e1a12b !important;
}

.menuLinkL1More-3010604035 {
    padding-left: 20px;
}

.conversationColumns-3904080429 {
    margin-bottom : 50px;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #3e3e3e;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #3e3e3e;  /* creates padding around scroll thumb */
}

.listContainer-423352197::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.listContainer-423352197::-webkit-scrollbar-track {
  background: #3e3e3e;        /* color of the tracking area */
}
.listContainer-423352197::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #3e3e3e;  /* creates padding around scroll thumb */
}

#AdvancedFilter .category-details::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
#AdvancedFilter .category-details::-webkit-scrollbar-track {
  background: #3e3e3e;        /* color of the tracking area */
}
#AdvancedFilter .category-details::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #3e3e3e;  /* creates padding around scroll thumb */
}

textarea::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
textarea::-webkit-scrollbar-track {
  background: #3e3e3e;        /* color of the tracking area */
}
textarea::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #3e3e3e;  /* creates padding around scroll thumb */
}
